@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT */

html {
scroll-behavior: smooth;
}

body {
margin: 0;
padding: 0;
background: #020617;
color: white;
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
}

/* UNIVERSAL */

* {
  box-sizing: border-box;
  }

/* LINKS */

a {
color: inherit;
text-decoration: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-track {
background: #020617;
}

::-webkit-scrollbar-thumb {
background: #1e293b;
border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
background: #334155;
}

/* SELECTION */

::selection {
background: #38bdf8;
color: white;
}

/* INPUTS */

input,
textarea,
button {
font-family: inherit;
}

/* GLASS CARD */

.glass-card {
background: rgba(15, 23, 42, 0.7);
border: 1px solid #1e293b;
backdrop-filter: blur(12px);
border-radius: 24px;
}

/* GRADIENT TEXT */

.gradient-text {
background: linear-gradient(
to right,
#38bdf8,
#2563eb
);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* ANIMATIONS */

.fade-in {
animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(15px);
}

to {
opacity: 1;
transform: translateY(0);
}
}
