@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #020617;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
